:root{
    /**********************************
    **HEADER**************************/
    --header-bg: #202020;
    --header-color: white;
    --header-border-color: #303030;

    /**********************************
    **HEADER SEARCH*******************/
    --header-search-bg: #121212;
    --header-search-color: #ffffffe0;
    --header-search-border: #303030;
    --header-search-btn-border: #303030;
    --header-search-btn-bg: rgb(37, 37, 37);
    --header-search-btn-color: #fff;

    /**********************************
    **HEADER RECORDER*****************/
    --header-recorder-bg: #181818;
    --header-recorder-color: white;

    /**********************************
    **SIDEBAR LEFT********************/
    --sidebar-bg: #ffffff;
    --sidebar-color: black;

    /**********************************
    **BACKGROUND**********************/
    --bg: #f9f9f9;

    /**********************************
    **TAGS****************************/
    --tag-bg: #f2f2f2;
    --tag-color: black;
    --tag-bg-active: black;
    --tag-color-active: white;
  }