:root{
    /**********************************
    **HEADER**************************/
    --header-bg: #ffffff;
    --header-color: black;
    --header-border-color: rgba(0,0,0,.1);

    /**********************************
    **HEADER SEARCH*******************/
    --header-search-bg: #ffffff;
    --header-search-color: rgba(0,0,0,.4);
    --header-search-border: rgb(218, 214, 214);
    --header-search-btn-border: rgb(239 239 239);
    --header-search-btn-bg: rgb(239 239 239);
    --header-search-btn-color: #6f6e6e;

    /**********************************
    **HEADER RECORDER*****************/
    --header-recorder-bg: #ebebeb;
    --header-recorder-color: black;

    /**********************************
    **SIDEBAR LEFT********************/
    --sidebar-bg: #ffffff;
    --sidebar-color: black;

    /**********************************
    **BACKGROUND**********************/
    --bg: #f9f9f9;

    /**********************************
    **TAGS****************************/
    --tag-bg: #f2f2f2;
    --tag-color: black;
    --tag-bg-active: black;
    --tag-color-active: white;
  }