.box{
    position: relative;
}

.box .boxList{
    background-color: var(--header-bg);
    position: absolute;
    width: 170px;
    left: -10px;
    bottom: -95px;
    border: 1px solid var(--header-border-color);
    color: var(--header-color);
    border-top: none;
}

.box>.boxList>ul{
    padding: 0;
    margin: 0;
}

.box>.boxList>ul>li{
    display: flex;
    padding: 10px;
    font-size: .8em;
    align-items: center;
}

.box>.boxList>ul>li:hover{
    background-color: rgba(212, 212, 212, .4);
}

.boxIcon{
    height: 22px;
    margin-right: 15px;
}
